<!DOCTYPE html>
%html
 %head
  = render :partial => 'partials/scripts'
 %body
  = render :partial => 'partials/header'

  %div.uk-container.uk-container-large
   %table#dttb-regions.display.compact.order-column.stripe.hover.dt-responsive.no-wrap
    %thead
     %tr
      %th{"colspan" => 2, "rowspan" => 2, "data-priority" => 10} Name
      %th{"colspan" => 2, "data-priority" => 3} Citizens
      %th{"colspan" => 4, "data-priority" => 2} Indices
     %tr
      %th Citizens
      %th Residents
      %th Med
      %th Mil
      %th Edu 
      %th Dev
      %th{"data-priority" => 0} Last Update
    %tbody
     - @results_by_id.values.each do |object|
      %tr
       %td= object[:id]
       %td 
        %a{"href" => "/regions/#{object[:id]}"}
         = object[:region][:name_en]
       %td= object[:metrics]["citizens"]
       %td= object[:metrics]["residents"]
       %td{"class" => get_med_index_class(object[:metrics]["med_index"])} 
        = object[:metrics]["med_index"]
       %td{"class" => get_mil_index_class(object[:metrics]["mil_index"])} 
        = object[:metrics]["mil_index"]
       %td{"class" => get_edu_index_class(object[:metrics]["edu_index"])} 
        = object[:metrics]["edu_index"]
       %td{"class" => get_dev_index_class(object[:metrics]["dev_index"])} 
        = object[:metrics]["dev_index"]
       %td
        = distance_of_time_in_words(DateTime.parse(object[:metrics]["time"]), DateTime.now, include_seconds: true)
        ago
 
