<!DOCTYPE html>
%html
 %head
  = render :partial => 'partials/scripts'
 %body
  = render :partial => 'partials/header'

  %div.uk-container.uk-container-medium.uk-padding-small
   %div.uk-container.uk-container-medium.uk-margin-medium-bottom
    %p.uk-text.uk-padding-remove.uk-margin-remove-vertical.uk-align-left@m.uk-text-center
     Region: 
     = @region["name_en"]
     = "(ID: #{@region["rivals_id"]})"
    %p.uk-text-meta.uk-padding-remove.uk-margin-remove-vertical.uk-align-right@m.uk-text-center
     Last data update:
     = distance_of_time_in_words(@region["updated_at"], DateTime.now, include_seconds: true)
     ago
    %p.uk-text-meta.uk-padding-remove.uk-margin-remove-vertical.uk-align-right@m.uk-text-center
     Last metrics update: 
     = distance_of_time_in_words(DateTime.parse(@metrics["time"]), DateTime.now, include_seconds: true)
     ago

   %div.uk-section.uk-section-secondary.uk-section-small.uk-text-center.uk-flex.uk-flex-center.uk-flex-wrap-between.uk-padding
    %div.uk-container.uk-grid-medium{"uk-grid" => ""}
     %span.uk-child-width-expand
      %span
       %h4.uk-heading-divider Citizens
       %h3.uk-align-center.uk-height-max-small
        %strong= @metrics["citizens"]
     %span.uk-child-width-expand
      %span
       %h4.uk-heading-divider Residents
       %h3.uk-align-center.uk-height-max-small
        %strong= @metrics["residents"]
     %div
     %span.uk-child-width-expand
     %span.uk-child-width-expand
      %span
       %h4.uk-heading-divider Medical
       %h3.uk-align-center.uk-height-max-small
        %strong
         %span{"class" => get_med_index_class(@metrics["med_index"])} 
          = @metrics["med_index"]
         = "/ 11"
     %span.uk-child-width-expand
      %span
       %h4.uk-heading-divider Military
       %h3.uk-align-center.uk-height-max-small
        %strong
         %span{"class" => get_mil_index_class(@metrics["mil_index"])}
          = @metrics["mil_index"]
         = "/ 11"
     %span.uk-child-width-expand
      %span
       %h4.uk-heading-divider Education
       %h3.uk-align-center.uk-height-max-small
        %strong
         %span{"class" => get_edu_index_class(@metrics["edu_index"])}
          = @metrics["edu_index"]
         = "/ 11"
     %span.uk-child-width-expand
      %span
       %h4.uk-heading-divider Development
       %h3.uk-align-center.uk-height-max-small
        %strong
         %span{"class" => get_dev_index_class(@metrics["dev_index"])}
          = @metrics["dev_index"]
         = "/ 10"
   %div.uk-section.uk-section-muted.uk-section-small.uk-text-center.uk-flex.uk-flex-center.uk-flex-wrap-between.uk-padding
    %div.uk-card.uk-card-body.uk-width-1-3@m
     %h4.uk-card-title{"uk-tooltip" => "Approximate Values"}
      %span.uk-label Beta
      Looted Resources
     %ul.uk-list
      %li 
       State Cash: 
       = raw get_human_cash @loot_res["cash"]
      %li 
       State Gold: 
       = raw get_human_gold @loot_res["gold"] 
      %li 
       Oil: 
       = raw get_human_oil @loot_res["oil"]
      %li 
       Ore: 
       = raw get_human_ore @loot_res["ore"]
      %li 
       Uranium: 
       = raw get_human_ura @loot_res["ura"]
      %li 
       Diamonds:
       = raw get_human_dia @loot_res["dia"]
    %div.uk-card.uk-card-body.uk-width-1-3@m
     %h4.uk-card-title{"uk-tooltip" => "Approximate Values"}
      %span.uk-label Beta
      Building Cost
     %ul.uk-list
      %li 
       State Cash: 
       = raw get_human_cash @build_res["cash"]
      %li 
       State Gold: 
       = raw get_human_gold @build_res["gold"] 
      %li 
       Oil: 
       = raw get_human_oil @build_res["oil"]
      %li 
       Ore: 
       = raw get_human_ore @build_res["ore"]
      %li 
       Uranium: 
       = raw get_human_ura @build_res["ura"]
      %li 
       Diamonds:
       = raw get_human_dia @build_res["dia"]
