<!DOCTYPE html>
%html
 %head
  = render :partial => 'partials/scripts'
 %body
  = render :partial => 'partials/header'

 %div.uk-container.uk-container-small
  %p.uk-align-center.uk-text-center
   %label.uk-label.uk-label-primary Beta
   This is a beta feature. Watch your steps! 

  %div.uk-card.uk-card-secondary.uk-padding-small
   %h1.uk-card-title.uk-text-center Region Buildings
   %div.uk-card-body.uk-card-secondary-uk-margin-small
    = form_tag({controller: "regions_view", action: "simulator_submit"}, method: "post", class: "uk-form-horizontal uk-text-center") do
     %input.uk-align-center.uk-button-primary.uk-button{"type" => "submit", "value" => "Calc It"}
     %div
     - ["hospital", "military_base", "school", "missile", "port", "airport", "power_plant", "spaceport", "housing_fund"].each do |object|
      %div.uk-margin.uk-padding-remove-vertical
       %label.uk-form-label.uk-text-meta= object
       %input.uk-input.uk-form-small.uk-form-width-small{"name" => "start_#{object}", "value" => "#{(@metrics[object]  unless @metrics.nil?) or (@params["start_#{object}"] unless @params.nil?)}"}
       %input.uk-input.uk-form-small.uk-form-width-small{"name" => "target_#{object}", "placeholder" => "#{(@metrics[object] unless @metrics.nil?) or (@params["start_#{object}"] unless @params.nil?)}", "value" => "#{@params["target_#{object}"] unless @params.nil?}"}
     %hr
     %div
      %h3.uk-text-muted.uk-text-center [Advanced] Custom prices for calculating pricing
      - ["state_cash", "state_gold", "oil", "ore", "ura", "dia"].each do |object|
       %div.uk-margin 
        %label.uk-form-label.uk-text-meta= object
        %input.uk-input.uk-form-small.uk-form-width-small{"name" => "price_#{object}"}
